//- =============================
//- Meta module 0.0.1 ver
//- =============================

mixin meta(title, desc, css, js, fonts, favicon)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    if favicon === 'true'
        link(rel="apple-touch-icon" href="/fav16.png")
        link(rel="apple-touch-icon" sizes="32x32" href="/fav32.png")
        link(rel="apple-touch-icon" sizes="96x96" href="/fav96.png")
        link(rel="icon" type="image/png" href="/fav16.png" sizes="16x16")
        link(rel="icon" type="image/png" href="/fav32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/fav96.png" sizes="96x96")

    meta(name="description" content=desc)

    if title === ''
        title Frontend template
    else
        title=title

    // ADD STYLE
    each val in css
        link(rel='stylesheet' href=val)

    // Google Fonts
    each val in fonts
        link(rel='stylesheet' type='text/css' href=val)

    // Sass generated style
    link(rel="stylesheet" href="css/extended.min.css")
    link(rel="stylesheet" href="css/style.min.css")

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    // ADD SCRIPTS
    each val in js
        script(src=val)

    // Common Script
    script(src="js/common.js")
